<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Offers loader</title>

  <meta name="description" content="Load fyber offers">
  <meta name="author" content="Ivan Tkalin">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= csrf.meta_tag %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Fyber offers loader</a>
      </div>
    </div>
  </nav>

  <%= content %>
</body>
</html>

